* {
    font-family: Nunito, sans-serif;
  }

  body{
    background-color: rgb(2, 27, 26);
    color: rgb(44, 194, 149);
  }
  

  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .outer-container {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  
  .inner-container {
    max-width: 1320px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }
  
  .heading-text {
    font-size: 48px;
    line-height: 50px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .sub-heading-text {
    line-height: 30px;
    color: rgb(170, 203, 196);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .name {
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: center;
  }
  
  .position {
    line-height: 24px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .card {
    display: block;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .card:hover{
    transform: rotateY('180deg');
  }
  
  .card-img {
    width: 100%;
    height: 250px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 300px;
    border-radius: 12px;
    box-shadow: 2px 2px 6px rgba(0, 123, 90,0.5);
  }
  
  .card-container {
    display: inline-block;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }
  
  .headings-container {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .team-members-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  
