*{
    margin: 0;
}
body{
    font-family: "Oxanium", sans-serif;
    font-size: 1.5vw;
}
ul{
    height: 80px;
}
li{
    display: inline;
    float: right;
    margin-left: 7vw;
    margin-right: 2.5vw;
    margin-top: 3vh;
    font-weight: 700;
    color: #333;
    transition: 0.2s;
}
a{
    text-decoration: none;
    color:#333;
}
a:hover{
    color: white;
}
.navbar{
    height: 100vh;
    width: 100%;
    background-image: url(img/test.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;   
}
li:hover{
    transition: 0.6s;
    color: white;
    background-color: #333;
    padding: 8px 4px;
}


.top{
    display: flex;
    height: 94vh;
    width: 100vw;
}
.left{
    width: 40vw;
}
.left img{
    width: 100%;

}
.right{
    width: 60vw;
}
.right img{
    width: 100%;
}
